@font-face {
    font-family: "NEXT-ART";
    font-weight: 100;
    font-style: normal;
    src: url("../Fuentes/NEXT-ART_Regular.woff") format("woff"),
    url("../Fuentes/NEXT ART_Regular.woff2") format("woff2");

}

@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: normal;
    src: url("../Fuentes/Montserrat-Regular.woff") format("woff"),
    url("../Fuentes/Montserrat-Regular.woff2") format("woff2");

}

.boxContainer{
    text-align: center;
}

.box{
    border: 2px solid #b4846d;
    border-radius: 25px;
    background: #b4846d;
    font-family: "Montserrat";
    padding: 2em;
    margin: 5rem;
    text-align: center;
    display: inline-block;
}


.botonSubmit{
    border: 3px solid #7e5b51;
    border-radius: 50px;
    background-color: #7e5b51;
    display: inline-block;
    padding-inline: 10px;
    color: white;
}

input {
    font-family: Montserrat;
    border: 3px solid #e3caa5;
    border-radius: 50px;
}

select{
    font-family: Montserrat;
    border: 3px solid #e3caa5;
}