<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>ListaClientes</servlet-name>
    <servlet-class>controlador.clientes.ListaClientes</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>RegistrarCliente</servlet-name>
    <servlet-class>controlador.clientes.RegistrarCliente</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>BuscarCliente</servlet-name>
    <servlet-class>controlador.clientes.BuscarCliente</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ListaClientes</servlet-name>
    <url-pattern>/ListaClientes</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RegistrarCliente</servlet-name>
    <url-pattern>/RegistrarCliente</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>BuscarCliente</servlet-name>
    <url-pattern>/BuscarCliente</url-pattern>
  </servlet-mapping>
</web-app>
