<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>ListaClientes</servlet-name>
    <servlet-class>controlador.clientes.ListaClientes</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>RegistrarCliente</servlet-name>
    <servlet-class>controlador.clientes.RegistrarCliente</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>BuscarCliente</servlet-name>
    <servlet-class>controlador.clientes.BuscarCliente</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>EliminarCliente</servlet-name>
    <servlet-class>controlador.clientes.EliminarCliente</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ModificarCliente</servlet-name>
    <servlet-class>controlador.clientes.ModificarCliente</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ListaCitas</servlet-name>
    <servlet-class>controlador.citas.ListaCitas</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>RegistrarCita</servlet-name>
    <servlet-class>controlador.citas.RegistrarCita</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>MapeoListas</servlet-name>
    <servlet-class>controlador.citas.MapeoListas</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>BuscarCita</servlet-name>
    <servlet-class>controlador.citas.BuscarCita</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>CancelarCita</servlet-name>
    <servlet-class>controlador.citas.CancelarCita</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ModificarCita</servlet-name>
    <servlet-class>controlador.citas.ModificarCita</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ListaProductos</servlet-name>
    <servlet-class>controlador.productos.ListaProductos</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>MapeoProductos</servlet-name>
    <servlet-class>controlador.productos.MapeoProductos</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>RegistrarProducto</servlet-name>
    <servlet-class>controlador.productos.RegistrarProducto</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>BuscarProducto</servlet-name>
    <servlet-class>controlador.productos.BuscarProducto</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>EliminarProducto</servlet-name>
    <servlet-class>controlador.productos.EliminarProducto</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ModificarProducto</servlet-name>
    <servlet-class>controlador.productos.ModificarProducto</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ListaPromociones</servlet-name>
    <servlet-class>controlador.promociones.ListaPromociones</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>RegistrarPromocion</servlet-name>
    <servlet-class>controlador.promociones.RegistrarPromocion</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>BuscarPromocion</servlet-name>
    <servlet-class>controlador.promociones.BuscarPromocion</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>EliminarPromocion</servlet-name>
    <servlet-class>controlador.promociones.EliminarPromocion</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ModificarPromocion</servlet-name>
    <servlet-class>controlador.promociones.ModificarPromocion</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>RegistrarServicios</servlet-name>
    <servlet-class>controlador.promociones.RegistrarServicios</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ListaServicios</servlet-name>
    <servlet-class>controlador.servicios.ListaServicios</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>RegistrarServicio</servlet-name>
    <servlet-class>controlador.servicios.RegistrarServicio</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>BuscarServicio</servlet-name>
    <servlet-class>controlador.servicios.BuscarServicio</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>EliminarServicio</servlet-name>
    <servlet-class>controlador.servicios.EliminarServicio</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>ListaClientes</servlet-name>
    <url-pattern>/ListaClientes</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RegistrarCliente</servlet-name>
    <url-pattern>/RegistrarCliente</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>BuscarCliente</servlet-name>
    <url-pattern>/BuscarCliente</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>EliminarCliente</servlet-name>
    <url-pattern>/EliminarCliente</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ModificarCliente</servlet-name>
    <url-pattern>/ModificarCliente</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ListaCitas</servlet-name>
    <url-pattern>/ListaCitas</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RegistrarCita</servlet-name>
    <url-pattern>/RegistrarCita</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>MapeoListas</servlet-name>
    <url-pattern>/MapeoListas</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>BuscarCita</servlet-name>
    <url-pattern>/BuscarCita</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>CancelarCita</servlet-name>
    <url-pattern>/CancelarCita</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ModificarCita</servlet-name>
    <url-pattern>/ModificarCita</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ListaProductos</servlet-name>
    <url-pattern>/ListaProductos</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>MapeoProductos</servlet-name>
    <url-pattern>/MapeoProductos</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RegistrarProducto</servlet-name>
    <url-pattern>/RegistrarProducto</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>BuscarProducto</servlet-name>
    <url-pattern>/BuscarProducto</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>EliminarProducto</servlet-name>
    <url-pattern>/EliminarProducto</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ModificarProducto</servlet-name>
    <url-pattern>/ModificarProducto</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ListaPromociones</servlet-name>
    <url-pattern>/ListaPromociones</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RegistrarPromocion</servlet-name>
    <url-pattern>/RegistrarPromocion</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>BuscarPromocion</servlet-name>
    <url-pattern>/BuscarPromocion</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>EliminarPromocion</servlet-name>
    <url-pattern>/EliminarPromocion</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ModificarPromocion</servlet-name>
    <url-pattern>/ModificarPromocion</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RegistrarServicios</servlet-name>
    <url-pattern>/RegistrarServicios</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ListaServicios</servlet-name>
    <url-pattern>/ListaServicios</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RegistrarServicio</servlet-name>
    <url-pattern>/RegistrarServicio</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>BuscarServicio</servlet-name>
    <url-pattern>/BuscarServicio</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>EliminarServicio</servlet-name>
    <url-pattern>/EliminarServicio</url-pattern>
  </servlet-mapping>

</web-app>
